In [4]:
docx = "sunshine state enjoy sunshine"
docy = "brown fox jump high, brown fox run" 
docz="sunshine state fox run fast"
bowx = docx.split(" ")
bowy = docy.split(" ")
bowz = docz.split(" ")

In [6]:
words = set(bowx).union(set(bowy)).union(set(bowz))

In [7]:
words

{'brown', 'enjoy', 'fast', 'fox', 'high,', 'jump', 'run', 'state', 'sunshine'}

In [13]:
wordDictx = dict.fromkeys(words, 0) 
wordDicty = dict.fromkeys(words, 0) 
wordDictz = dict.fromkeys(words, 0)

In [14]:
for word in bowx:
    wordDictx[word]+=1
for word in bowy:
    wordDicty[word]+=1
for word in bowz:
    wordDictz[word]+=1

In [15]:
import pandas as pd
pd.DataFrame([wordDictx, wordDicty ,wordDictz])

   enjoy  fox  run  fast  brown  sunshine  jump  high,  state
0      1    0    0     0      0         2     0      0      1
1      0    2    1     0      2         0     1      1      0
2      0    1    1     1      0         1     0      0      1

In [16]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [18]:
tfBowx = computeTF(wordDictx, bowx)
tfBowy = computeTF(wordDicty, bowy)
tfBowz = computeTF(wordDictz, bowz)

In [19]:
tfBowx

{'enjoy': 0.0,
 'fox': 0.2857142857142857,
 'run': 0.14285714285714285,
 'fast': 0.0,
 'brown': 0.2857142857142857,
 'sunshine': 0.0,
 'jump': 0.14285714285714285,
 'high,': 0.14285714285714285,
 'state': 0.0}

In [97]:
tfBowy

{'run': 0.14285714285714285,
 'enjoy': 0.0,
 'sunshine': 0.0,
 'jump': 0.14285714285714285,
 'brown': 0.2857142857142857,
 'fast': 0.0,
 'state': 0.0,
 'fox': 0.2857142857142857,
 'high,': 0.14285714285714285}

In [20]:
tfBowz

{'enjoy': 0.0,
 'fox': 0.2,
 'run': 0.2,
 'fast': 0.2,
 'brown': 0.0,
 'sunshine': 0.2,
 'jump': 0.0,
 'high,': 0.0,
 'state': 0.2}

In [25]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [26]:
idff = computeIDF([wordDictx, wordDicty , wordDictz])

In [31]:
def computeTFIDF(tfBow, idff):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idff[word]
    return tfidf

In [32]:
tfidfBowx = computeTFIDF(tfBowx, idff)
tfidfBowy = computeTFIDF(tfBowy, idff)
tfidfBowz = computeTFIDF(tfBowz, idff)

In [33]:
import pandas as pd
pd.DataFrame([tfidfBowx, tfidfBowy , tfidfBowz])

,enjoy,fox,run,fast,brown,sunshine,jump,"high,",state
0,0.11928,0.000000,0.000000,0.000000,0.00000,0.088046,0.00000,0.00000,0.044023
1,0.00000,0.050312,0.025156,0.000000,0.13632,0.000000,0.06816,0.06816,0.000000
2,0.00000,0.035218,0.035218,0.095424,0.00000,0.035218,0.00000,0.00000,0.035218

In [35]:
import numpy as np
from numpy.linalg import norm
S1 = np.array([2,1,1,0,0,0,0,0,0])
S3 = np.array([1,1,0,0,1,0,0,1,1])
cosine = np.dot(S1,S3)/(norm(S1)*norm(S3))
print("Cosine Similarity:", cosine)

Cosine Similarity: 0.5477225575051661